@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000077;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

.add-fab {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  aspect-ratio: 1;
  font-size: 25px;
  background-color: blue;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 3px 5px black;
  animation: pulse 5s linear infinite;
}

.add-fab:hover {
  animation-play-state: paused;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
